{% extends "nav.html" %}
{% block content %}
<div id="prev-back">
  <button type="button" class="btn btn-primary btn-large prev">
    <span class="glyphicon glyphicon-arrow-left"></span>  Prev week
  </button>
  <button type="button" class="btn btn-primary btn-large next">
    Next week  <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
</div>
<table class="table table-striped table-bordered">
  {% for header in headers %}
  {% if not forloop.first %}
  <th>{{ header }}</th>
  {% else %}
  <th>Date</th>
  {% endif %}
  {% endfor %}
  {% for row in tableresults %}
  <tr>
    {% for value in row %}
    {% if forloop.first %}
    <td>{{ value|date:"d-m-Y" }}</td>
    {% else %}
    <td class="{{ row.0|date:'Y-m-d' }}">{{ value }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock content %}
{% block rcalendarJS %}
<script src="{{ STATIC_URL}}jquery/rcalendar.js"></script>
{% endblock rcalendarJS %}
