{% extends "nav.html" %}
{% block title %}Items review{% endblock title %}
{% block edittable %}
<table class="table table-hovered">
  <tr>
    <th>DL number</th>
    <th>Market</th>
    <th>C. Code</th>
    <th>Invoice N.</th>
    <th>Inv. Status</th>
    <th>Rej. Reason</th>
    <th>Paid on</th>
  </tr>
  {% for obj in ownitems %}
  <tr>
    <td width=100px>
      {{ obj.remindernumber }}
    </td>
    <td width=75px>
      {{ obj.market }}
    </td>
    <td width=75px>
      {{ obj.ccode }}
    </td>
    <td>
      {{ obj.invoicenumber }}
    </td>
    <td>
      {{ obj.invoicestatus }}
    </td>
    <td>
      {% if obj.rejectreason %}
      {{ obj.rejectreason }}
      {% else %}
      {{ "-" }}
      {% endif %}
    </td>
    <td>
      {% if obj.paidon %}
      {{ obj.paidon }}
      {% else %}
      {{ "-" }}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock edittable %}
