{% extends "base.html" %}
{% block title %}Dunning Cruncher{% endblock title %}
{% block nav %}
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'core.views.index' %}">Dunning Cruncher</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'core.views.index' %}">Home</a></li>
      {% if user.groups.values.0.name == 'SV' %}
      <li><a href="{% url 'core.views.reporting' %}">Reporting</a></li>
      {% endif %}
      {% if user.groups.values.0.name == 'TL' %}
      <li><a href="{% url 'core.views.edit' %}">Review</a></li>
      <li><a href="{% url 'core.views.reporting' %}">Reporting</a></li>
      <li><a href="{% url 'core.views.tracking_calendar' year week %}">Reminders</a></li>
      {% endif %}
      {% if user.groups.values.0.name == 'RU' %}
      <li><a href="{% url 'core.views.edit' %}">Review</a></li>
       <li><a href="{% url 'core.views.tracking_calendar' year week %}"> Reminders</a></li>
      {% endif %}
      <li><a href="{% url 'django.contrib.auth.views.password_change' %}">Account</a></li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">Signed in as {{ welcome_name }}</p>
    <li><a href="{% url 'core.views.logout_view' %}">Logout</a></li>
  </ul>
</div>
{% if request.path == "/main/" %}
<div class="jumbotron">
  <div class="container">
    <h2>Hello, {{ user.first_name }}</h2>
    <p id="ptrack">To start tracking a new DL click on the below button.</p>
    <img class="logo" src="{{ STATIC_URL }}images/logo2.png">
    <button type="button" class="btn btn-primary" id="trbutton">
      <span class="glyphicon glyphicon-briefcase"></span> Track!
    </button>
  </div>
</div>
{% else %}
{% endif %}
{% endblock nav %}
{% block content %}{% endblock content %}
{% block tablerep %}{% endblock tablerep %}
{% block draft %}{% endblock draft %}
{% block letter %}{% endblock letter %}
{% block mailbuttons %}{% endblock mailbuttons %}
{% block vendormodal %}{% endblock vendormodal %}
{% block modalforbuyer %}{% endblock modalforbuyer %}
{% block modalforshub %}{% endblock modalforshub %}
{% block mailJS %}{% endblock mailJS %}
{% block rcalendarJS %}{% endblock rcalendarJS %}
{% block trackingform %}{% endblock trackingform %}
{% block editaccount %}{% endblock editaccount %}
{% block trackingjs %}
<script src="{{ STATIC_URL }}jquery/trackingjs.js">
</script>
{% endblock trackingjs %}
{% block changepassJS %}{% endblock changepassJS %}
