{% extends "base.html" %}
{% block title %}Dunning Cruncher{% endblock title %}
{% block nav %}
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'core.views.index' %}">Dunning Cruncher</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'core.views.index' %}">Home</a></li>
      {% if user.groups.values.0.name == 'TL_SV' %}
      <li><a href="{% url 'core.views.reporting' %}">Reporting</a></li>
      {% endif %}
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">Signed in as {{ welcome_name }}</p>
    <li><a href="{% url 'core.views.logout_view' %}">Logout</a></li>
  </ul>
</div>
<div class="jumbotron">
  <div class="container">
    <h2>Hello, {{ user.first_name }}</h2>
    <p id="ptrack">To start tracking a new DL click on the below button.</p>
    <img class="logo" src="{{ STATIC_URL }}images/Logo_hp.png">
    <button type="button" class="btn btn-primary" id="trbutton">
      <span class="glyphicon glyphicon-briefcase"></span> Track!
    </button>
  </div>
</div>
  <form action="." method="POST" class="form-horizontal" role="form" id="trform">
    {% csrf_token %}
    <fieldset class="fieldmain">
      <legend><b>DL tracking form</b></legend>
      <div class="form-group">
	<label class="col-lg-2 control-label">Clerk:</label>
	<div class="col-lg-2">
	  <p class="form-control-static" id="vclerk" value="{{ user.get_full_name }}">{{ question.clerk }}</p> 
	</div>
      </div>
      <div class="form-group">
	<label class="col-lg-2 control-label">Market:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.market }}</p>
	</div>
	<label class="col-lg-2 control-label">Company Code:</label>
	<div class="col-lg-1">
	  <p class="form-control-static">{{ question.ccode }}</p>
	</div>
      </div>
      <div class ="form-group">
	<label class="col-lg-2 control-label">DL Number:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.remindernumber }}</p>
	</div>
	<label class="col-lg-2 control-label">DL Level:</label>
	<div class="col-lg-1">
	  <p class="form-control-static">{{ question.level }}</p>
	</div>
      </div>
      <div class="form-group">
	<label class="col-lg-2 control-label">Action Date:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.actiondate }}</p>
	</div>
	<label class="col-lg-2 control-label">Reminder Date:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.reminderdate }}</p>
	</div>
      </div>
      <div class="form-group">
	<label class="col-lg-2 control-label">Inv. number:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.invoicenumber }}</p>
	</div>
	<label class="col-lg-2 control-label">Inv. status:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.invoicestatus }}</p>
	</div>
      </div>
      <div class="form-group">
	<label class="col-lg-2 control-label">Vendor number:</label>
	<div class="col-lg-2">
	  <div class="input-group">
	    <span class="input-group-addon">123</span>
	    {{ question.vendor }}
	  </div>
	</div>
	<label class="col-lg-2 control-label">Vendor mail:</label>
	<div class="col-lg-2">
	  <div class="input-group">
	    <span class="input-group-addon">@</span>
	    {{ question.mailvendor }}
	  </div>
	</div>
      </div>
      <div class="form-group">
	<div class="col-lg-offset-2 col-lg-10">
	  <div class="checkbox">
            <label>
              <input type="checkbox"> Add Vendor Address
            </label>
	  </div>
	</div>
      </div>
      <div class="form-group">
	<label class="col-lg-2 control-label">Action:</label>
	<div class="col-lg-7">
	  <p class="form-control-static">{{ question.actiontaken }}</p>
	</div>
      </div>
      <div>
	<input type="submit" value="Submit" id ="trackbutton" class="btn btn-primary btn-large">
      </div>
    </fieldset>
  </form>
{% endblock nav %}
{% block trackingjs %}
<script>
    $(document).ready(function(){
	$('#trbutton').on('click', function(){
	    $('#trbutton').fadeOut('slow', function(){
		$('#trform').fadeIn('slow');
		$('#ptrack').html('Please fill in all the fields.');
	    });
	});
    });
</script>
{% endblock trackingjs %}
