{% extends "nav.html" %}
{% block title %}Change Registration{% endblock %}
{% block head %}Change Registration{% endblock %}
{% block content %}
<form method="post" action="." role="form" class="form-horizontal">
  {% csrf_token %}
  <fieldset class="fieldmain">
    <legend><b>Change Password</b></legend>
    <div class="form-group">
      <label class="col-lg-3 control-label">User:</label>
      <div class="col-lg-3">
	<p class="form-control-static" id="user" value="{{ user.get_full_name }}">{{ user.get_full_name }}</p> 
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Old password:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ form.old_password }}</p>
	{{ form.old_password.errors }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">New password:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ form.new_password1 }}</p>
	{{ form.new_password1.errors }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Repeat new password:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ form.new_password2 }}</p>
	{{ form.new_password2.errors }}
      </div>
    </div>
  </fieldset>
  <input type="submit" value="Change" id="trackbutton" class="btn btn-primary btn-large"/>
</form>
{% endblock %}
{% block changepassJS %}
<script src="{{ STATIC_URL }}jquery/changepass.js"></script>
{% endblock changepassJS %}
