{% extends "nav.html" %}
{% block tablerep %}
<fieldset>
<legend><b>DL Report for {{ thismonth }}</b></legend>
<div>
  <div id="repodiv">
    <label>Year:</label>
    <select id="yearchoice">
      {% for year in years %}
      <option value="{{ year }}">
	{{ year }}
      </option>
      {% endfor %}
    </select>
    <label>Month:</label>
    <select id="monthchoice">
      {% for month in months %}
      <option value="{{ forloop.counter }}">
	{{ month }}
      </option>
      {% endfor %}
    </select>
  </div>
</div>
<table class="table table-striped table-hover table-bordered" id="repotable">
  <tr>
    <th>
    </th>
    {% for choice in markets %}
    {% if choice.0 == "GB" or choice.0 == "ES" %}
    {% else %}
    <th>
      {{ choice.0 }}
    </th>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    <td>
      Done
    </td>
    {% for choice in allmarketsdone %}
    <td class="alldone">
      {{ choice }}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>
      To Do
    </td>
    {% for choice in allmarketstodo %}
    <td class="todo">
      {{ choice }}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>
      Balance
    </td>
    {% for choice in allmarketsdone %}
    <td class="balance">
      {{ "" }}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>
      Backlog
    </td>
    {% for choice in allmarketsbacklog %}
    <td class="backlog">
      {{ choice }}
    </td>
    {% endfor %}
  </tr>
</table>
</fieldset><br><br>
{% if user.groups.values.0.name == 'SV' or user.groups.values.0.name == 'TL'%}
<fieldset>
  <legend><b>Special report</b></legend>
  <div id="specialrep">
    <form class="form-horizontal">
      <div class="form-group">
	<label class="col-sm-2">Market:</label>
	<div class="col-sm-2">
	  <select class="form-control" id="market">
	    <option>-----------</option>
	    {% for choice in markets %}
	    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label class="col-sm-2">Year:</label>
	<div class="col-sm-2">
	  <select class="form-control" id="year">
	    {% for year in years %}
	    <option value="{{ year }}">{{ year }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label class="col-sm-2">Month from:</label>
	<div class="col-sm-2">
	  <select class="form-control" id="fmonth">
	    {% for month in months %}
	    <option value="{{ forloop.counter }}">{{ month }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label class="col-sm-2">Month to:</label>
	<div class="col-sm-2">
	  <select class="form-control" id="tmonth">
	    {% for month in months %}
	    <option value="{{ forloop.counter }}">{{ month }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      <div class="form-group">
	<div class="col-sm-offset-1 col-sm-2">
	  <button type="button" class="btn btn-primary" id="repobutton">Generate report</button>
	</div>
      </div>
    </form>
  </div>
</fieldset>
{% endif %}
{% endblock tablerep %}
{% block tablerepJS %}
<script src="{{ STATIC_URL }}jquery/reports.js"></script
{% endblock tablerepJS %}
