{% extends "nav.html" %}
{% block tablerep %}
<fieldset>
<legend><b>DL Report for {{ thismonth }}</b></legend>
<div>
  <div id="repodiv">
    Year: <select id="yearchoice">{% for year in years %} <option value="{{ year }}">{{ year }}</option>{% endfor %}</select>
    Month: <select id="monthchoice">{% for month in months %} <option value="{{ forloop.counter }}">{{ month }}</option>{% endfor %}</select>
  </div>
</div>
<table class="table table-striped table-hover table-bordered" id="repotable">
  <tr>
    <th>
    </th>
    {% for choice in markets %}
    {% if choice.0 == "GB" or choice.0 == "ES" %}
    {% else %}
    <th>
      {{ choice.0 }}
    </th>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    <td>
      Done
    </td>
    {% for choice in allmarketsdone %}
    <td class="alldone">
      {{ choice }}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>
      To Do
    </td>
    {% for choice in allmarketstodo %}
    <td class="todo">
      {{ choice }}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>
      Balance
    </td>
    {% for choice in allmarketsdone %}
    <td class="balance">
      {{ "" }}
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>
      Backlog
    </td>
    {% for choice in allmarketsbacklog %}
    <td class="backlog">
      {{ choice }}
    </td>
    {% endfor %}
  </tr>
</table>
</fieldset>
{% endblock tablerep %}
{% block tablerepJS %}
<script src="{{ STATIC_URL }}jquery/reports.js"></script
{% endblock tablerepJS %}
