{% for object in items %}
<tr>
  <td>
    {{ object.invoicenumber }}
  </td>
  {% if mainit.market == "DE" %}
  <td>
    {% if object.invoicedate %}
    {{ object.invoicedate }}
    {% else %}
    {{ "" }}
    {% endif %}
  </td>
  {% endif %}
  <td>
    {% if object.amount %}
    {{ object.amount }}
    {% else %}
    {{ "" }}
    {% endif %}
  </td>
  <td>
    {% for choice in status %}
    {% if object.invoicestatus == choice.0 %}
    {{ choice.1 }}
    {% endif %}
    {% endfor %}
  </td>
  <td>
    {% if object.paidon %}
    {{ object.paidon|date:"d/m/Y" }}
    {% else %}
    {{ "" }}
    {% endif %}
  </td>
  {% if mainit.market == "PT" %}
  {% else %}
  <td>
  </td>
  {% endif %}
  <td>
    {% if object.rejectreason %}
    {% for choice in reasons %}
    {% if object.rejectreason == choice.0 %}
    {% if choice.0 == "OTH" %}
    {{ object.reasonother }}
    {% else %}
    {{ choice.1 }}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% else %}
    {{ "" }}
    {% endif %}
  </td>
</tr>
{% endfor %}
