{% extends "nav.html" %}
{% block trackingform %}
<form action="." class="form-horizontal" role="form" id="trform">
  {% csrf_token %}
  <fieldset class="fieldmain">
    <legend><b>DL tracking form</b></legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Clerk:</label>
      <div class="col-lg-2">
	<p class="form-control-static" id="vclerk" value="{{ user.get_full_name }}">{{ question.clerk }}</p> 
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Market:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ question.market }}</p>
      </div>
      <label class="col-lg-2 control-label">Company Code:</label>
      <div class="col-lg-1">
	<p class="form-control-static">{{ question.ccode }}</p>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-lg-3 control-label">Received Date:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ question.reminderdate }}</p>
      </div>
      <label class="col-lg-2 control-label">DL Level:</label>
      <div class="col-lg-1">
	<p class="form-control-static">{{ question.level }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Action Date:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ question.actiondate }}</p>
      </div>
      <label class="col-lg-2 control-label">DL Number:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ question.remindernumber }}</p>
      </div>
    </div>
    <div class="addhiddendata">
      <div class="form-group">
	<label class="col-lg-2 control-label">Inv. number:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.invoicenumber }}</p>
	</div>
	<label class="col-lg-2 control-label">Inv. status:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.invoicestatus }}</p>
	</div>
	<div class="col-lg-2">
	  <button type="button" class="btn btn-primary btn-sm" id="addbutt">
	    Add  <span class="glyphicon glyphicon-plus"></span>
	  </button>
	  <button type="button" class="btn btn-primary btn-sm" id="rembutt">
	    Remove  <span class="glyphicon glyphicon-minus"></span>
	  </button>
	</div>
      </div>
      <div class="form-group addtohide rejpaidform">
	<label class="col-lg-2 control-label">Rejection reason:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.rejectreason }}</p>
	</div>
	<label class="col-lg-2 control-label">Others:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.reasonother }}</p>
	</div>
	<label class="col-lg-3 control-label">Paid on:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.paidon }}</p>
	</div>
	<!--
	    <div class="form-group">
	      <label class="col-lg-2 control-label">Others:</label>
	      <div class="col-lg-7">
		<p class="form-control-static">{{ question.reasonother }}</p>
	      </div>
	    </div>
	    !-->
      </div>
      <div class="form-group beforevendor">
	<label class="col-lg-2 control-label">Amount:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.amount }}</p>
	</div>
	<label class="col-lg-2 control-label">Currency:</label>
	<div class="col-lg-2">
	  <p class="form-control-static">{{ question.currency }}</p>
	</div>
      </div>
    </div>
    <div class="form-group" id="vendorform">
      <label class="col-lg-2 control-label">Vendor number:</label>
      <div class="col-lg-2">
	<p class="form-control-static">{{ question.vendor }}</p>
      </div>
      <label class="col-lg-2 control-label">Vendor mail:</label>
      <div class="col-lg-2">
	<div class="input-group">
	  <span class="input-group-addon">@</span>
	  {{ question.mailvendor }}
	</div>
      </div>
    </div>
    <!--
	<div class="form-group">
	  <label class="col-lg-2 control-label">Action:</label>
	  <div class="col-lg-7">
	    <p class="form-control-static">{{ question.actiontaken }}</p>
	  </div>
	</div>
	!-->
    <div>
      <input type="button" value="Submit" id ="trackbutton" class="btn btn-primary btn-large">
    </div>
  </fieldset>
</form>
{% endblock trackingform %}
